@use "../design-system/src/styles/font" as *;
@use "../design-system/src/styles/color" as *;

// TODO borrar las que no se usen
body {
  @include Color($font: main-text);
  @include Font($family: text);
}

h1,
h2,
h3,
h4,
h5 {
  @include Font($family: text, $weight: bold);
}

h1 {
  @include Font($size: xl);
}

h2 {
  @include Font($size: lg);
}

h3 {
  @include Font($size: md);
}

p,
a,
input {
  @include Font($family: text, $weight: medium);
}

@media (max-width: 600px) {
  p,
  a {
    @include Font(
      $size: sm
    ); //TODO revisar si cambian los tamaños segun la pantalla
  }
}

@media (max-width: 768px) {
  * {
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE/Edge Legacy
  }

  *::-webkit-scrollbar {
    display: none; // Chrome, Safari
  }
}
