@use "./color" as *; // Importa las funciones y mapas de colores

$border-properties: (
  // WIDTH
  // 1px
  thin: 0.0625rem,
  // 2px
  medium: 0.125rem,
  // 4px
  thick: 0.25rem,

  // STYLE
  solid: solid,
  dashed: dashed,
  dotted: dotted,
  none: none,

  // RADIUS //TODO revisar
  sm: 0.25rem,
  md: 0.5rem,
  lg: 1rem,
  xl: 1.75rem,
  full: 9999px
);

@function resolve-border($value) {
  @if map-has-key($border-properties, $value) {
    @return map-get($border-properties, $value);
  } @else {
    @return $value;
  }
}

@mixin Border(
  $width: null,
  $style: null,
  $color: null,
  $radius: null,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  @if $width or $style or $color {
    border: #{resolve-border($width)}
      #{resolve-border($style)}
      #{resolve-color($color)};
  }

  @if $top {
    border-top: #{resolve-border(nth($top, 1))}
      #{resolve-border(nth($top, 2))}
      #{resolve-color(nth($top, 3))};
  }

  @if $right {
    border-right: #{resolve-border(nth($right, 1))}
      #{resolve-border(nth($right, 2))}
      #{resolve-color(nth($right, 3))};
  }

  @if $bottom {
    border-bottom: #{resolve-border(nth($bottom, 1))}
      #{resolve-border(nth($bottom, 2))}
      #{resolve-color(nth($bottom, 3))};
  }

  @if $left {
    border-left: #{resolve-border(nth($left, 1))}
      #{resolve-border(nth($left, 2))}
      #{resolve-color(nth($left, 3))};
  }

  @if $radius {
    border-radius: resolve-border($radius);
  }
}
