$colors: (
  primary: #1fcc79,
  primary-light: #e3fff8,
  secondary: #ff6464,
  secondary-light: #ffcccc,
  main-text: #3e5481,
  // main-text: #2e3e5c,
  secondary-text: #9fa5c0,
  outline: #d0dbea,
  form: #f4f5f7,
  black: #000000,
  white: #ffffff,
);

@function resolve-color($value) {
  @if map-has-key($colors, $value) {
    @return map-get($colors, $value);
  } @else {
    @return $value;
  }
}

@mixin Color($bg: null, $font: null, $fill: null) {
  @if $bg {
    background-color: resolve-color($bg);
  }

  @if $font {
    color: resolve-color($font);
  }

  @if $fill {
    fill: resolve-color($fill);
  }
}
