@use "../../styles/form" as *;
@use "../../styles/flex" as *;
@use "../../styles/border" as *;
@use "../../styles/color" as *;

.checkbox-container {
  @include Flex($direction: column);

  .label {
    @include Flex($align: center, $gap: sm);
    cursor: pointer;

    .label.disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    .label-text {
      @include FieldText;
      user-select: none;
    }

    .input {
      display: none;
    }

    .custom-checkbox {
      @include Border(
        $width: medium,
        $style: solid,
        $color: outline,
        $radius: md
      );
      width: 1.75rem;
      height: 1.75rem;
      position: relative;
    }

    .input:checked + .custom-checkbox {
      @include Color($bg: primary);
      border-color: var(--color-primary);
      flex-shrink: 0;
    }

    .input:checked + .custom-checkbox::after {
      content: "";
      position: absolute;
      top: 0.25rem;
      left: 0.5rem;
      width: 0.25rem;
      height: 0.75rem;
      border: solid var(--color-white);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  .error-message {
    @include ErrorMessage;
  }

  .helper-message {
    @include HelperMessage;
  }
}
