@use "../styles/font" as *;
@use "../styles/color" as *;
@use "../styles/spacing" as *;
@use "../styles/border" as *;

.instructions {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .subrecipe {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .instructionsUl {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      .instructionsLi {
        display: flex;
        gap: 0.5rem;

        .stepNumber {
          @include Color($bg: main-text, $font: white);
          @include Border($radius: 50%);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          height: 1.5rem;
          width: 1.5rem;

          p {
            @include Font($size: xxs, $weight: bold);
          }
        }

        .paragraph {
          @include Font($align: justify);
          line-height: 1.5;
        }
      }
    }
  }
}
