.formWrapper {
  display: flex;
  flex-direction: column;

  .recipeForm {
    display: flex;
    flex-direction: column;

    .inputText {
      border: 1px solid black;
    }

    .textArea {
      border: 1px solid black;
      min-height: 500px;
    }
  }
}
