@use "../styles/color" as *;
@use "../styles/spacing" as *;

.sourceContainer {
  display: flex;
  //TODO revisar cuando viene un solo autor
  justify-content: space-around;

  .source {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}
