.tileGrid {
  &.single {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &.double {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
    gap: 1rem; /* Espaciado entre columnas y filas */
  }
}
