@use "../../styles/spacing" as *;
@use "../../styles/color" as *;
@use "../../styles/border" as *;
@use "../../styles/flex" as *;
@use "../../styles/font" as *;

.editable-table {
  @include Flex($direction: column, $gap: lg);

  .row-editing {
    @include Padding($all: none);
  }

  .save-cancel-buttons,
  .edit-delete-buttons {
    @include Flex($gap: xs);
  }

  .save-cancel-buttons {
    @include Padding($left: lg);
  }

  .input-container {
    input {
      @include Border(
        $width: medium,
        $style: solid,
        $color: transparent,
        $radius: 0
      );
      @include Padding($x: 1.38rem);
      height: 3.3rem;
    }

    &.input-bottom-left-corner {
      input {
        border-bottom-left-radius: 26px;
      }
    }
  }
}
