@use "../../design-system/styles/flex" as *;
@use "../../design-system/styles/border" as *;
@use "../../design-system/styles/spacing" as *;
@use "../../design-system/styles/font" as *;

.recipe-preview {
  @include Flex($direction: column);

  .pdf-preview-header {
    @include Flex($justify: flex-end);
    @include Margin($bottom: lg);
  }

  .step {
    @include Flex($direction: column, $gap: lg);

    .step-header {
      @include Flex($justify: space-between, $align: center);
    }

    .recipe-image {
      @include Border($radius: xl);
      overflow: hidden;
      width: 100%;
      aspect-ratio: 4 / 3;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
      }
    }

    h3 {
      @include Margin($bottom: sm);
    }

    .subrecipe-block {
      @include Flex($direction: column, $gap: lg);

      &:not(:last-child) {
        @include Margin($bottom: xl);
      }
    }

    .notes-list,
    .instructions-list,
    .ingredients-list {
      @include Font($family: text, $weight: medium);
      @include Margin($all: none);
      line-height: 1.5;

      li {
        @include Font($family: text, $weight: medium);
      }
    }

    .instructions-list li {
      @include Font($align: justify);
    }

    .ingredients-list {
      @include Flex($direction: column);

      .ingredient-li {
        @include Flex($align: center, $gap: xs);

        .ingredient-amount {
          @include Flex($gap: xxs);
        }
      }
    }

    .source-links {
      @include Flex($direction: column, $gap: xs);

      .source-link {
        display: block;
        word-break: break-all;
      }
    }

    .introduction-text {
      white-space: pre-wrap;
    }
  }
}
