@use "../design-system/src/styles/font" as *;
@use "../design-system/src/styles/spacing" as *;
@use "../design-system/src/styles/flex" as *;
@use "../design-system/src/styles/flex" as *;

.image-container {
  @include Flex($align: center, $justify: center);
  width: 100%;
  height: 45vh;

  .recipe-image {
    object-fit: cover;
    overflow: hidden;
    height: 45vh;
  }
}

.recipe-container {
  @include Flex($direction: column);

  header {
    @include Flex($direction: column);

    .title-container {
      @include Flex($align: center, $justify: space-between);
    }

    .recipe-info-container {
      @include Flex($direction: column, $gap: lg);

      .tag-container {
        @include Flex($gap: xxs);
      }
    }
  }
}

.preparation-title {
  text-transform: uppercase;
}
