@use "../../styles/border" as *;
@use "../../styles/form" as *;

.textarea-container {
  &.inline {
    @include Inline;
  }

  .label {
    position: relative;

    .label-text {
      @include LabelText;
      display: none;

      &.show-label {
        display: block;
      }
    }

    .textarea {
      @include FieldBorder;
      @include FieldText;
      @include FieldContainer;
      overflow: hidden;
      min-height: 3.5rem;
    }

    .textarea::placeholder {
      @include Placeholder;
    }

    .textarea:focus:not(.disabled) {
      @include FieldBorderFocus;
    }

    .textarea:focus-visible {
      outline: none;
    }

    .textarea:disabled {
      @include Disabled;
    }

    .read-only {
      @include ReadOnly;
    }

    .textarea:disabled,
    .read-only,
    .remove-resize {
      resize: none;
    }

    .error {
      @include FieldBorderError;
    }
  }

  .helper-message {
    @include HelperMessage;
  }

  .error-message {
    @include ErrorMessage;
  }
}
