@use "../../styles/border" as *;

.label {
  .textarea {
    @include Border($radius: xl);

    overflow: hidden;
    min-height: 3.5rem;
  }

  .textarea:disabled,
  .read-only,
  .remove-resize {
    resize: none;
  }

  .inline {
    width: 20rem;
  }
}
