@use "../../styles/border" as *;

.label {
  .textarea {
    @include Border($radius: xl);
    width: unset;
    max-width: 20rem;
    min-width: 20rem;
    overflow: hidden;
  }

  .textarea:disabled,
  .read-only {
    resize: none;
  }

  .full-width {
    width: 100%;
    max-width: unset;
    min-width: unset;
  }
}
