@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

// TODO borrar las que no se usen
$font-properties: (
  // FAMILY
  text: ("Inter", sans-serif),
  // SIZE
  // 10px
  xxs: 0.625rem,
  // 12px
  xs: 0.75rem,
  // 16px
  sm: 1rem,
  // 18px
  md: 1.125rem,
  // 24px
  lg: 1.5rem,
  // 32px
  xl: 2rem,
  // 48px
  xxl: 3rem,

  // WEIGHT
  medium: 500,
  bold: 700,

  // ALIGN
  left: left,
  center: center,
  right: right,

  // TRANSFORM
  cap: capitalize,
  upp: uppercase,
  low: lowercase
);

@function resolve-font($value) {
  @if map-has-key($font-properties, $value) {
    @return map-get($font-properties, $value);
  } @else {
    @return $value;
  }
}

@mixin Font(
  $family: null,
  $size: null,
  $weight: null,
  $align: null,
  $transform: null
) {
  @if $family {
    font-family: resolve-font($family);
  }

  @if $size {
    font-size: resolve-font($size);
  }

  @if $weight {
    font-weight: resolve-font($weight);
  }

  @if $align {
    text-align: resolve-font($align);
  }

  @if $transform {
    text-transform: resolve-font($transform);
  }
}

// @mixin nombre-del-mixin {
//   color: red;
//   font-weight: bold;
// }
