@use "./_font" as *;
@use "./_color" as *;
@use "./_form" as form;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  @include Font($family: text);
  @include Color($font: main-text);
}

h1,
h2,
h3,
h4,
h5 {
  @include Font($family: text, $weight: bold);
  @include Color($font: main-text);
}

h1 {
  @include Font($size: xl);
  line-height: 1.3;
}

h2 {
  @include Font($size: lg);
  line-height: 1.3;
}

h3 {
  @include Font($size: md);
  line-height: 1.3;
}

p,
a,
input {
  @include Font($family: text, $weight: medium);
}

button,
a[href],
label,
select,
[role="button"],
[tabindex]:not([tabindex="-1"]) {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

@media (max-width: 600px) {
  p,
  a {
    @include Font($size: sm);
  }
}

table {
  @include Font($family: text, $weight: medium);
  @include Color($font: main-text);
}

.required-asterisk {
  @include form.RequiredAsterisk;
}

@media (max-width: 768px) {
  * {
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE/Edge Legacy
  }

  *::-webkit-scrollbar {
    display: none; // Chrome, Safari
  }
}
