@function resolve-color($value) {
  @return var(--color-#{$value});
}

@mixin Color($bg: null, $font: null, $fill: null) {
  @if $bg {
    background-color: resolve-color($bg);
  }

  @if $font {
    color: resolve-color($font);
  }

  @if $fill {
    fill: resolve-color($fill);
  }
}
