@use "./border" as *;
@use "./color" as *;
@use "./font" as *;
@use "./spacing" as *;
@use "./flex" as *;
@use "./transition" as *;

@mixin FieldHeight {
  height: 3.5rem;
}

@mixin FieldContainer {
  @include Padding($x: lg, $y: md);
  width: 100%;
}

@mixin Inline {
  width: 20rem;
}

@mixin FieldBorder {
  @include Border($width: medium, $style: solid, $color: outline, $radius: xl);
  @include Transition((border));
}

@mixin RemovesFieldBorder {
  @include Border($width: medium, $style: solid, $color: none, $radius: 0);
  @include Transition((border));
}

@mixin FieldBorderFocus {
  @include Border($width: medium, $style: solid, $color: primary);
}

@mixin FieldBorderError {
  @include Border($width: medium, $style: solid, $color: disruptive);
}

@mixin FieldText {
  @include Font($family: text, $weight: medium, $size: sm);
  @include Color($font: main-text);
}

@mixin LabelText {
  @include Font($family: text, $weight: bold, $size: sm);
  @include Color($font: main-text);
  @include Margin($bottom: sm);
}

@mixin RequiredAsterisk {
  @include Color($font: disruptive);
}

@mixin Placeholder {
  @include Font($family: text, $weight: medium);
  @include Color($font: secondary-text);
}

@mixin HelperMessage {
  @include Font($family: text, $weight: medium, $size: xs);
  @include Padding($top: sm, $left: lg);
  @include Color($font: secondary-text);
}

@mixin ErrorMessage {
  @include HelperMessage;
  @include Color($font: disruptive);
}

@mixin Disabled {
  @include Color($bg: disabled, $font: secondary-text);
  cursor: unset;
}

@mixin ReadOnly {
  @include Color($bg: disabled, $font: main-text);
}

@mixin EditableButton {
  @include Margin($top: 2.5rem);
  @include Flex($self: start);
}

@mixin EditableButtons {
  @include EditableButton;
  @include Flex($gap: xs);
}
