@use "../../styles/border" as *;
@use "../../styles/spacing" as *;
@use "../../styles/color" as *;
@use "../../styles/font" as *;

.select {
  appearance: none;
  cursor: pointer;

  option {
    @include Font($family: text, $weight: medium, $size: sm);
    height: 3.5rem;

    // background-color: red;
  }
}

.select:disabled {
  cursor: unset;
}
