@use "../../styles/border" as *;
@use "../../styles/spacing" as *;
@use "../../styles/color" as *;
@use "../../styles/flex" as *;
@use "../../styles/form" as *;
@use "../../styles/transition" as *;

.select-container {
  position: relative;
  width: 100%;

  &.inline {
    @include Inline;
  }

  .label {
    .label-text {
      @include LabelText;
      display: none;

      &.show-label {
        display: block;
      }
    }

    .select {
      @include Flex($align: center);
      @include FieldBorder;
      @include FieldContainer;
      @include FieldHeight;
      cursor: pointer;

      &.error {
        @include FieldBorderError;
      }

      option {
        @include FieldText;
        @include FieldHeight;
      }

      .selected-label,
      .placeholder {
        @include Flex($align: center);
        height: 100%;
      }

      .selected-label {
        @include FieldText;
      }

      .placeholder {
        @include Placeholder;
      }

      .icon-left {
        @include Margin($right: xs);
        @include Transition((transform), 0.2s);
      }

      .icon-right {
        @include Margin($left: auto);
        @include Transition((transform), 0.2s);
      }

      .rotate-chevron {
        transform: rotate(180deg);
      }
    }

    .select:focus:not(.disabled) {
      @include FieldBorderFocus;
    }

    .disabled {
      @include Disabled;
    }

    .read-only {
      @include ReadOnly;
    }
  }

  .dropdown {
    @include FieldBorder;
    @include FieldText;
    @include Border($radius: lg);
    @include Margin($top: xxs);
    @include Color($bg: white);
    @include Padding($all: none);
    max-height: 15rem;
    overflow-y: auto;
    z-index: 1000;
    position: absolute;
    width: 100%;
    list-style: none;

    .option {
      @include Flex($align: center);
      @include Padding($x: lg);
      @include FieldHeight;
      cursor: pointer;
    }

    .option:hover,
    .highlighted {
      @include Color($bg: primary-light); //TODO revisar color
    }

    .selected:not(:hover):not(.highlighted) {
      @include Color($bg: primary, $font: white);
    }
  }

  .helper-message {
    @include HelperMessage;
  }

  .error-message {
    @include ErrorMessage;
  }
}
