@use "../../design-system/styles/font" as *;
@use "../../design-system/styles/spacing" as *;
@use "../../design-system/styles/flex" as *;
@use "../../design-system/styles/color" as *;
@use "../../design-system/styles/border" as *;

.image-container {
  position: relative;
  width: 100%;
  height: 45vh;
  overflow: hidden;

  .back-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;
  }

  .recipe-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }
}

.recipe-container {
  @include Flex($direction: column);

  header {
    @include Flex($justify: space-between, $align: center);

    .button-container {
      @include Flex($gap: sm);
    }
  }
  .source-container {
    @include Flex($align: center, $gap: sm);
    width: 100%;
  }

  .recipe-info-container {
    @include Flex($direction: column, $gap: lg);

    .baking-container {
      @include Flex($direction: column, $gap: sm, $justify: space-between);

      .item {
        @include Flex($gap: xs, $align: center);
        width: 100%;

        .item-header {
          @include Flex($gap: xs, $align: center);
          @include Color($font: secondary-dark);
        }

        .info {
          @include Flex($gap: xs, $align: center);
          @include Color($font: secondary-text);

          p {
            @include Font($size: sm);
          }
        }
      }
    }
  }
}
