@use "../../design-system/styles/spacing" as *;
@use "../../design-system/styles/flex" as *;

//TODO revisar cuando viene un solo autor
.source-container {
  width: 100%;

  .source {
    @include Flex($align: center, $justify: space-between);

    .name-container {
      @include Flex($align: center, $gap: xs);
    }
  }

  .external-link {
    @include Flex($align: center, $justify: center);
    height: 2rem;
    width: 2rem;
  }
}
