@use "../../styles/spacing" as *;
@use "../../styles/font" as *;
@use "../../styles/color" as *;
@use "../../styles/flex" as *;

.tile {
  .square-image {
    // TODO unfinished
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    overflow: hidden;
  }

  .rectangle-image {
    @include Margin($bottom: md);
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 1;
    overflow: hidden;
  }

  .recipe-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
  }

  .text-container {
    @include Flex($justify: space-between);

    .title {
      @include Margin($bottom: sm);
      text-wrap: wrap;
    }

    .subtitle {
      @include Flex($gap: xs, $align: center);
      @include Font($family: text, $size: sm, $weight: medium);
      @include Color($font: secondary-text);
      text-wrap: wrap;
    }

    .restrictions {
      @include Flex($shrink: none);
      @include Margin($left: sm);
    }
  }
}
