@use "../styles/_font" as *;

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45vh;

  .recipeImage {
    object-fit: cover;
    overflow: hidden;
    height: 45vh;
  }
}

.recipeContainer {
  display: flex;
  flex-direction: column;
  .title {
    // text-align: center;
    // text-transform: uppercase;
  }
}

.preparation-title {
  text-transform: uppercase;
}
