@use "../../styles/border" as *;
@use "../../styles/spacing" as *;
@use "../../styles/color" as *;
@use "../../styles/font" as *;
@use "../../styles/form" as *;

.input-container {
  &.inline {
    @include Inline;
  }

  .label {
    position: relative;

    .label-text {
      @include LabelText;
      display: none;

      &.show-label {
        display: block;
      }
    }

    .input {
      @include FieldText;
      @include FieldBorder;
      @include FieldContainer;
      @include FieldHeight;

      &.editable-table-input {
        @include RemovesFieldBorder;
      }
    }

    .input::placeholder {
      @include Placeholder;
    }

    .input:focus:not(.disabled) {
      @include FieldBorderFocus;
    }

    .input:focus-visible {
      outline: none;
    }

    .input:disabled {
      @include Disabled;
    }

    .read-only {
      @include ReadOnly;
    }

    .icon-left-space {
      @include Padding($left: xxl);
    }

    .icon-left {
      left: 1.5rem;
    }

    .icon-right {
      right: 1.5rem;
    }

    .icon-with-label {
      position: absolute;
      top: 2.875rem;
    }

    .icon-position {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: color 0.3s ease;
    }

    .icon-right-space {
      @include Padding($right: xxl);
    }

    .error {
      @include FieldBorderError;
    }
  }

  .helper-message {
    @include HelperMessage;
  }

  .error-message {
    @include ErrorMessage;
  }
}
