@use "../../styles/color" as *;
@use "../../styles/font" as *;
@use "../../styles/border" as *;
@use "../../styles/flex" as *;

.tag {
  @include Color($bg: secondary-light, $font: secondary);
  @include Border($radius: 1.25rem);
  @include Flex(
    $direction: column,
    $align: center,
    $justify: center,
    $gap: xxs
  );
  height: 3rem;
  width: 100%;

  p {
    @include Font($size: xs, $weight: medium);
  }
}
