.ingredients-sections {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  .ingredients-ul {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;

    .ingredient-li {
      display: flex;
      gap: 4px;

      .ingredient-quantity {
        display: flex;
        gap: 4px;
      }
    }
  }
}
