@use "../../styles/spacing" as *;
@use "../../styles/color" as *;
@use "../../styles/font" as *;
@use "../../styles/border" as *;
@use "../../styles/flex" as *;
@use "../../styles/transition" as *;

.drop-zone {
  @include Border($width: medium, $style: dashed, $color: outline, $radius: xl);
  @include Flex($direction: column, $align: center, $justify: center, $gap: lg);
  @include Padding($all: xl);
  @include Color($font: main-text);

  min-height: 10rem;
  width: 20rem;
  @include Transition((background-color));

  &.single-image-preview {
    @include Padding($all: none);
    @include Flex($align: center, $justify: center);
    position: relative;
    overflow: hidden;
  }

  .image-preview {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .remove-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .inline-preview {
    @include Flex($align: center, $gap: sm);
  }

  .message {
    @include Font($weight: medium, $size: xs, $align: center);
    @include Color($font: secondary-text);
    line-height: 1.5;
  }

  .error-message {
    @include Color($font: disruptive);
  }
}

.drag-over {
  @include Border($width: medium, $style: solid, $color: outline);
}

.preview-list {
  @include Margin($top: sm);
  @include Padding($x: sm);
  @include Flex($direction: column, $wrap: wrap, $gap: xs);
  width: 20rem;

  &.row-layout {
    @include Padding($x: none);
    @include Flex($direction: row, $justify: space-between);

    &::after {
      content: "";
      flex: auto;
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
      border: 0;
    }
  }

  .preview-container {
    @include Flex($align: center, $gap: xs);
    position: relative;

    &.image-container {
      width: 6rem;
      height: 6rem;
    }

    .preview-image {
      @include Border($radius: lg);
      width: 6rem;
      height: 6rem;
      object-fit: cover;
    }

    .image-remove-button {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
    }

    .file-remove-button {
      margin-left: auto;
    }
  }
}

.full-width {
  width: 100%;
}
