@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@mixin Font(
  $family: null,
  $size: null,
  $weight: null,
  $align: null,
  $transform: null
) {
  @if $family {
    font-family: var(--font-family-#{$family});
  }

  @if $size {
    font-size: var(--font-size-#{$size});
  }

  @if $weight {
    font-weight: var(--font-weight-#{$weight});
  }

  @if $align {
    text-align: $align;
  }

  @if $transform {
    text-transform: $transform;
  }
}
