@use "./border" as *;
@use "./color" as *;
@use "./font" as *;
@use "./spacing" as *;

@mixin InputContainer {
  @include Padding($x: lg, $y: md);
  height: 3.5rem;
  width: 100%;
}

@mixin Inline {
  width: 20rem;
}

// BORDER
@mixin InputBorder {
  @include Border($width: medium, $style: solid, $color: outline, $radius: xl);
  transition: border 0.3s ease;
}

@mixin InputBorderFocus {
  @include Border($width: medium, $style: solid, $color: primary);
}

@mixin InputBorderError {
  @include Border($width: medium, $style: solid, $color: disruptive);
}

// TEXT
@mixin InputText {
  @include Font($family: text, $weight: medium, $size: sm);
}

@mixin LabelText {
  @include Font($weight: bold, $size: sm);
  @include Margin($bottom: sm);
}

@mixin Placeholder {
  @include Color($font: secondary-text);
  @include Font($family: text, $weight: medium);
}

@mixin HelperMessage {
  @include Font($weight: medium, $size: xs);
  @include Padding($top: sm, $left: lg);
  @include Color($font: secondary-text);
}

@mixin ErrorMessage {
  @include HelperMessage;
  @include Color($font: disruptive);
}

// STATE
@mixin Disabled {
  @include Color($bg: disabled, $font: secondary-text);
  cursor: unset;
}

@mixin ReadOnly {
  @include Color($bg: disabled, $font: main-text);
}
