@function resolve-size($value) {
  @if $value ==
    none or
    $value ==
    xxs or
    $value ==
    xs or
    $value ==
    sm or
    $value ==
    md or
    $value ==
    lg or
    $value ==
    xl or
    $value ==
    xxl
  {
    @return var(--spacing-#{$value});
  } @else {
    @return $value;
  }
}

@mixin Padding(
  $all: null,
  $top: null,
  $bottom: null,
  $left: null,
  $right: null,
  $x: null,
  $y: null
) {
  @if $all {
    padding: resolve-size($all);
  }

  @if $x {
    padding-left: resolve-size($x);
    padding-right: resolve-size($x);
  }

  @if $y {
    padding-top: resolve-size($y);
    padding-bottom: resolve-size($y);
  }

  @if $top {
    padding-top: resolve-size($top);
  }

  @if $bottom {
    padding-bottom: resolve-size($bottom);
  }

  @if $left {
    padding-left: resolve-size($left);
  }

  @if $right {
    padding-right: resolve-size($right);
  }
}

@mixin Margin(
  $all: null,
  $top: null,
  $bottom: null,
  $left: null,
  $right: null,
  $x: null,
  $y: null
) {
  @if $all {
    margin: resolve-size($all);
  }

  @if $x {
    margin-left: resolve-size($x);
    margin-right: resolve-size($x);
  }

  @if $y {
    margin-top: resolve-size($y);
    margin-bottom: resolve-size($y);
  }

  @if $top {
    margin-top: resolve-size($top);
  }

  @if $bottom {
    margin-bottom: resolve-size($bottom);
  }

  @if $left {
    margin-left: resolve-size($left);
  }

  @if $right {
    margin-right: resolve-size($right);
  }
}
