@use "../../styles/spacing" as *;
@use "../../styles/color" as *;
@use "../../styles/border" as *;
@use "../../styles/flex" as *;
@use "../../styles/font" as *;

.editable-table {
  .row-editing {
    @include Padding($all: none);
  }

  .input-container {
    input {
      @include Border(
        $width: medium,
        $style: solid,
        $color: transparent,
        $radius: 0
      );
    }

    &.input-bottom-left-corner {
      input {
        border-bottom-left-radius: 26px;
      }
    }
  }
}
