@use "../styles/spacing" as *;
@use "../styles/color" as *;

.bottom-sheet {
  @include Color($bg: white);
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  transition: height 0.3s ease;

  .handle-container {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .handle {
      @include Color($bg: outline);
      width: 3rem;
      height: 0.375rem;
      border-radius: 0.1875rem;
    }
  }

  .content {
    @include Padding($x: lg, $top: md, $bottom: lg);
    overflow-y: auto;
    height: calc(100% - 3rem);
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

.half-screen {
  height: 60vh;
}

.full-screen {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 100vh;
}
