@import "../styles/_variables";

.button {
  background-color: $button-primary;
  border: none;
  border-radius: 2rem;
  color: white;
  font-family: $text;
  font-weight: 600;
}

.size-small {
  height: 2rem;
  font-size: 0.75rem;
}

.size-medium {
  height: 3rem;
  font-size: 1rem;
}

.size-large {
  height: 3.5rem;
  font-size: 1rem;
}
