@use "../styles/spacing" as *;
@use "../styles/color" as *;
@use "../styles/font" as *;
@use "../styles/border" as *;

.drop-zone {
  @include Border($width: medium, $style: dashed, $color: outline, $radius: xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  min-height: 10rem;
  width: 20rem;
  padding: 2rem;
  transition: background-color 0.3s ease;

  .message {
    @include Font($weight: medium, $size: xs, $align: center);
    @include Color($font: secondary-text);
    line-height: 1.5;
  }

  .error-message {
    @include Color($font: disruptive);
  }
}

.drag-over {
  @include Border($width: medium, $style: solid, $color: outline);
}

.preview-list {
  @include Margin($top: sm);
  @include Padding($x: sm);
  width: 20rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;

  &.row-layout {
    @include Padding($x: none);

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;

    &::after {
      content: "";
      flex: auto;
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
      border: 0;
    }
  }

  .preview-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &.image-container {
      width: 6rem;
      height: 6rem;
    }

    .preview-image {
      @include Border($radius: lg);
      width: 6rem;
      height: 6rem;
      object-fit: cover;
    }

    .image-remove-button {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
    }

    .file-remove-button {
      margin-left: auto;
    }
  }
}

.full-width {
  width: 100%;
}
