@use "../styles/color" as *;

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

@each $name, $value in $colors {
  .bg-#{inspect($name)} {
    @include Color($bg: $name);
    border-radius: 50%;
  }
}

@each $name, $value in $colors {
  .color-#{inspect($name)} {
    @include Color($font: $name);
  }
}

.size-xs {
  width: 1.5rem;
  height: 1.5rem;
}

.size-sm {
  width: 2rem;
  height: 2rem;
}

.size-md {
  width: 2.5rem;
  height: 2.5rem;
}

.size-lg {
  width: 3rem;
  height: 3rem;
}

.size-xl {
  width: 3.5rem;
  height: 3.5rem;
}
