@use "../styles/color" as *;
@use "../styles/font" as *;

.tag {
  @include Color($bg: secondary-light, $font: secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  height: 3rem;
  width: 100%;
  border-radius: 1.25rem;

  p {
    @include Font($size: xs, $weight: medium);
  }
}
