@use "../styles/border" as *;
@use "../styles/spacing" as *;
@use "../styles/color" as *;
@use "../styles/font" as *;

// TODO faltan estados desktop: hover y focus visible
// TODO falta disabled y readonly y ver cual mas

.label {
  .textarea {
    @include Font($family: text, $weight: medium, $size: sm);
    @include Border(
      $width: medium,
      $style: solid,
      $color: outline,
      $radius: 1.75rem
    );

    @include Padding($x: lg, $y: md);
    @include Color($font: main-text);
    min-height: 3.5rem;
    max-width: 20rem;
    min-width: 20rem;

    transition: border 0.3s ease;
  }

  .textarea::placeholder {
    @include Color($font: secondary-text);
    @include Font($family: text, $weight: medium);
  }

  .textarea:focus {
    @include Border($width: medium, $style: solid, $color: primary);
  }

  .textarea:focus-visible {
    outline: none;
  }

  .textarea:disabled {
    @include Color($bg: disabled);
    resize: none;
  }

  .full-width {
    width: 100%;
    max-width: unset;
    min-width: unset;
  }

  .error {
    @include Border($width: medium, $style: solid, $color: disruptive);
  }
}

.message {
  //TODO manejar el ancho del mensaje cuando es inline o full width
  @include Font($weight: medium, $size: xs);
  @include Padding($top: sm, $left: lg);
  @include Color($font: secondary-text);
}

.error-message {
  @include Color($font: disruptive);
}
