@use "../styles/spacing" as *;

.tile {
  &.square {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 1rem;
  }

  &.rectangle {
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 1;
    overflow: hidden;
    border-radius: 1rem;
  }

  .recipeImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
  }
}
