@use "./design-system/styles/flex" as *;
@use "./design-system/styles/spacing" as *;

.app {
  @include Flex($direction: column);
  width: 100%;
  min-width: 0;
  min-height: 100vh;
}

.app-main {
  @include Flex($direction: column);
  flex: 1;
  min-width: 0;
  @include Margin($x: auto);
  max-width: 75rem;
  width: 100%;
}
