@use "./design-system/src/styles/flex" as *;

.app {
  @include Flex($direction: column);
  margin-left: auto; //TODO revisar si se pasa al pagelayout en modo desktop
  margin-right: auto;
  max-width: 75rem; //1200px
}
