@use "./design-system/styles/flex" as *;

.app {
  @include Flex($direction: column);
  margin-left: auto; // TODO check if it's passed to pagelayout in desktop mode
  margin-right: auto;
  max-width: 75rem; //1200px
}
